include mixins

doctype html
html
	head
	body
		title Blog application
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0' )
		meta( name='description', content='Baking Bootstrap Snippets with Jade' )
		
		link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
		link(href='https://fonts.googleapis.com/css?family=Raleway:400,800' rel='stylesheet' type='text/css')
		script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
		script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
		style.
			body { overflow-x: hidden;}
			.welcome {
			font-family: 'Raleway', sans-serif;
			font-size: 50px;
			}
	

+nav("Blog", "dropdown_menu") 
		+nav_item( "#") Login	

	if user
		+nav_item( "profile" ) Profile
		+nav_item( "posts" ) Posts
		+nav_item( "logout" ) Logout

	else

.row
	.col-md-4.col-sm-6.col-xs-12.text-center.pull-right
		+panel("Login", "primary")			
			form(action='/login' method='post')
				br
				input(name='email', placeholder='email')
				br
				br
				input(type='password' name='password', placeholder='password')
				br
				br
				input(type='submit' value='Login')
				br
				br

				h2= message
	.col-md-4.col-sm-6.col-xs-12.text-center.pull-right
		h3.welcome “I think of us as journalists; the medium we work in is blogging.” - Abraham Lincoln

	.col-md-4.col-sm-6.col-xs-12.text-center.pull-right
		+panel("Register", "primary")
			form(action="/users", method="post")
				br
				input#user(type="searchbar", name="name", placeholder="name")
				br
				br
				input#user(type="searchbar", name="email", placeholder="email")
				br
				br
				input#password(type="searchbar", name="password", placeholder="password")
				br
				br
				input(type="submit" value="Create User")

				
+bootswatch("darkly")


	


