include mixins

doctype html
html
	head
		title Blog application
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0' )
		meta( name='description', content='Baking Bootstrap Snippets with Jade' )
		
		link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
		script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
		script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
		style.
			body { overflow-x: hidden;}
			.welcome {
			font-family: 'Raleway', sans-serif;
			font-size: 50px;
			}
			.alert-dismissable, .alert-dismissible {
			padding-right:6px !important;
			}
	body

+nav("Blog") 


.row
	.col-md-4.col-sm-6.col-xs-12.text-center.pull-right
		+panel("Login", "primary")			
			form(action='/login' method='post')
				br
				input(name='email', placeholder='email')
				br
				br
				input(type='password' name='password', placeholder='password')
				br
				br
				input(type='submit' value='Login')
				br
				br

				h2= message
	.col-md-4.col-sm-6.col-xs-12.text-center.pull-right
		h3.welcome “I think of us as journalists; the medium we work in is blogging.” - Abraham Lincoln

	.col-md-4.col-sm-6.col-xs-12.text-center.pull-right.registercolumn
		+panel("Register", "primary")
			form(action="/users", method="post")
				br
				input#user(type="searchbar", name="name", placeholder="name")
				br
				br
				input#user(type="searchbar", name="email", placeholder="email")
				br
				br
				input#password(type='password', name="password", placeholder="password")
				br
				br
				input.register(type="submit" value="Create User")
				br
				span.target
					//- +alert("default") 	Awesome!

				
+bootswatch("darkly")

//- script.
//- 	$( document ).ready(function() {
//- 		$( ".target").hide();
//- 		$( ".register" ).click(function() {
//- 		$( ".target" ).fadeIn( 5000 );
//- 	});

//- 	});