include mixins

doctype
html( lang="en" )
	head
		title Blog application
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0' )
		meta( name='description', content='Baking Bootstrap Snippets with Jade' )
		
		link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
		link(href='/css/style.css', rel='stylesheet', type='text/css')
			
	body(style="padding-bottom:10rem;")
		.container
 
		script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
		style.
			body { overflow-x: hidden;}
			.profile{
			font-family: 'Raleway', sans-serif;
			font-size: 30px;
			}
			
+nav("Blog", "dropdown_menu")
	+nav_item( "/users/profile") Login
	+nav_item( "/users/profile" ) Profile

	if data
		+nav_item( "posts" ) Posts
		+nav_item( "logout" ) Logout
	else

.jumbotron
	h1 Welcome #{user.name}
		br
		a.profile(href='/users/profile') Home
		br
		a.profile(href='/logout') Log out
		br
		a.profile(href='/users/' + user.id + '/posts') Double click to create a post



+bootswatch("darkly")